/*
|--------------------------------------------------------------------------
| View 所屬 User資料夾 login_page css樣式文件
|--------------------------------------------------------------------------
*/

.content{
    position: absolute;
    left: 50%;
    margin-left:-200px;
    border:1px solid gray;
    border-radius: 5px;
    width: 400px;
}   

.btn{
    margin:10px 0px;
}

#confirm_btn{
    padding: 8px 0px;
    width: 100%;
}

.link{
    display: inline-block;
    border: 1px solid #fff;
    margin: 5px 0px;
    border-radius: 5px;
    padding: 3px 50px;
}

.link:hover{
    border: 1px solid #ccc;
}